<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="author" content="Wesley Wang" />
  <meta name="copyright" content="Wesley Wang" />
  <meta name="url" content="" />
  <meta name="title" content="date picker practice" />
  <meta name="keywords" content="date picker practice" />
  <meta name="description" content="date picker practice" />

  <meta property="og:title" content="date picker practice" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="date picker practice" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />

  <link rel="shortcut icon" href="./favicon.ico">

  <title>date-picker-practice</title>

</head>

<body>
  <div id="root"></div>
</body>

</html>