@import './toolkit';

.calendar-wrap{
  width: 320px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  background-color: #eee;
  @include radius(5px);

  &.close{
    opacity: 0;
    pointer-events: none;
  }

  & .calendar-header{
    margin: 30px auto;

    & > *{
      display: inline-block;
    }

    & .calendar-button{
      width: 50px;
      text-align: center;
      color: #1db7bd;
    }
    & .calendar-title{
      width: calc(100% - 100px);
      text-align: center;
      color: #1db7bd;
      cursor: pointer;
    }
  }
  & .calendar-body{
    margin: 30px auto 20px;

    & > a{
      display: inline-block;
      width: 33.33333%;
      padding: 10px 0;
      box-sizing: border-box;
      text-align: center;
      position: relative;

      &.selected::after{
        opacity: 1;
      }

      &::after{
        content:" ";
        display: block;
        width:15px;
        height:15px;
        background-color: #db3d44;
        margin: -32px auto 0px;
        padding: 15px;
        opacity: 0;
        @include radius(50%);
      }
    }
  }
}