body {
  margin: 0;
  padding: 0;
  color: #838383;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

a,
a:active,
a:focus :hover,
a:link,
a:visited {
  text-decoration: none;
  color: #838383;
  display: inline-block;
}